# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/
# Visual Studio
.vscode/
.history/
*.code-workspace

pa_autoconfigure_django.py --python=3.8 https://github.com/Perciwall/my-first-blog.git